@import "../../../components/sass/mixins";
@import "../../../../theme/style.css";
// Imagen de fondo de la APP
.img-background {
    --background: url(../../../../assets/img/Backgrounds/students1.png) 0 0/100% 100% no-repeat;
}

.instrucciones {
    margin-top: 40px;
    text-align: center;
}

.instrucciones__label {
    display: block;
    color: var(--ion-color-blanco);
}

// Cambiar diseño
.instrucciones__btn {
    @include btn-terciario;
    width: 40px;
    margin-top: 10px;
    border: 1px solid var(--ion-color-blanco);
    border-radius: 20px;
}

.instrucciones__icon {
    color: var(--ion-color-blanco);
}

.contenedor-btn {
    text-align: center;
}

.btn-generar {
    @include btn-secundario;
    margin-top: 270px;
}

.contenedor-qr {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ion-color-primario);
}

.contenedor-qr__item {
    height: 100%;
    padding: auto;
}