<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="end">
            <ion-button color="light" (click)="cerrarSesion()">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Estado Asistencia</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="img-background">
    <div class="instrucciones">
        <ion-label class="instrucciones__label">Escanea el código QR brindado <br> por su profesor.</ion-label>
        <ion-button class="instrucciones__btn" fill="clear" (click)="asistente()">
            <ion-icon class="instrucciones__icon" slot="icon-only" name="play"></ion-icon>
        </ion-button>
    </div>

    <!--
    <div class="contenedor-btn">
        <ion-button class="btn-generar" full (click)="scannearCodigo()">
            <ion-icon name="camera"></ion-icon>
        </ion-button>
    </div>
  -->
    <ion-list class="lista-estado" *ngIf="estado" [ngSwitch]="estado">
        <ion-item *ngSwitchCase="'PRESENTE'" color="success">
            <ion-icon name="checkmark-done-sharp"></ion-icon>
            <ion-label class="label-alumno">
                {{estado}}
            </ion-label>
        </ion-item>
        <ion-item *ngSwitchCase="'JUSTIFICADO'" color="warning">
            <ion-icon name="alert-sharp"></ion-icon>
            <ion-label class="label-alumno">
                {{estado}}
            </ion-label>
        </ion-item>
        <ion-item *ngSwitchCase="'AUSENTE'" color="danger">
            <ion-icon name="close-sharp"></ion-icon>
            <ion-label class="label-alumno">
                {{estado}}
            </ion-label>
        </ion-item>

    </ion-list>


</ion-content>