<ion-content>
    <ion-radio-group [(ngModel)]="value_selected" (ionChange)="valueChanged()">
        <ion-item>
            <ion-label>Presente</ion-label>
            <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Justificado</ion-label>
            <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Ausente</ion-label>
            <ion-radio value="2"></ion-radio>
        </ion-item>
    </ion-radio-group>
    {{value_selected}}
</ion-content>