<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="end">
            <ion-button color="light" (click)="cerrarSesion()">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Resumen Asistencias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let x of asistencias">
        <ion-item button (click)="detalleResumen(x.nombreProfesor, x.cantidadAsistencia)">
            <ion-label>
                {{x.asignatura}}
            </ion-label>
            <ion-label style="text-align: end;">
                <ion-icon color="danger" name="school-sharp"></ion-icon>
                {{x.cantidadAsistencia}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>