<ion-header>
    <ion-toolbar>
        <ion-title>Asistencia</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="img-background">
    <div class="instrucciones">
        <ion-label class="instrucciones__label">Escanea el código QR brindado <br> por su profesor.</ion-label>
        <ion-button class="instrucciones__btn" fill="clear" (click)="asistente()">
            <ion-icon class="instrucciones__icon" slot="icon-only" name="play"></ion-icon>
        </ion-button>
    </div>

    <div class="contenedor-btn">
        <!-- Scanear Código -->
        <ion-button class="btn-generar" full (click)="scannearCodigo()">
            <ion-icon name="camera"></ion-icon>
        </ion-button>
    </div>
    <!--
    <ion-card *ngIf="codigoScaneado">
        <ion-card-content>
            Asistencia registrada.
        </ion-card-content>
    </ion-card>
    -->
</ion-content>