<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="light" (click)="cerrarSesion()">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Detalle</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list lines="full">
        <ion-item *ngIf="asistencia">
            <ion-label>
                <ion-text>Rut</ion-text>
                <p>
                    <ion-text color="dark"> {{asistencia.rut}}</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item *ngIf="asistencia">
            <ion-label>
                <ion-text>Nombre</ion-text>
                <p>
                    <ion-text color="dark"> {{asistencia.nombre}}</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item *ngIf="asistencia">
            <ion-label>
                <ion-text>Curso</ion-text>
                <p>
                    <ion-text color="dark"> {{asistencia.curso}}</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item *ngIf="asistencia">
            <ion-label>
                <ion-text>Fecha de Registro</ion-text>
                <p>
                    <ion-text color="dark"> {{asistencia.fechaRegistro}}</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item *ngIf="asistencia">
            <ion-label>
                <ion-text>Hora de registro</ion-text>
                <p>
                    <ion-text color="dark"> {{asistencia.horaRegistro}}</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item *ngIf="asistencia">
            <ion-label>
                <ion-text>Estado actual de Asistencia</ion-text>
                <p>
                    <ion-text color="dark"> {{asistencia.estado}}</ion-text>
                </p>
            </ion-label>
        </ion-item>

        <ion-radio-group *ngIf="asistencia" [(ngModel)]="valorSeleccionado">
            <!--(ionChange)="valorCambiado()"-->
            <ion-item *ngFor="let x of estados">
                <ion-label>{{x.nombre}}</ion-label>
                <ion-radio value={{x.nombre}}></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <ion-button expand="full" (click)="actualizar(asistencia.id)">Actualizar</ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="eliminarAsistencia(asistencia.id)">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>