<ion-header>
    <ion-toolbar>
        <ion-title>Detalle</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <!--
          id: data.asistencia[0],
          asignatura:data.asistencia[1],
          fechaClase:data.asistencia[2],
          horaInicio:data.asistencia[3],
          horaTermino:data.asistencia[4],
          estado: data.asistencia[5],
          fechaRegistro:data.asistencia[6],
          horaRegistro : data.asistencia[7],
          rut: data.asistencia[8],
          nombre : data.asistencia[9],
          curso : data.asistencia[10]
        }
        -->
        <!--
        <ion-item *ngIf="asistencia">
            <ion-input type="text" [(ngModel)]="asistencia.rut"></ion-input>
        </ion-item>
        -->
        <ion-item *ngIf="asistencia">
            <ion-label>RUT : {{asistencia.rut}}</ion-label>
        </ion-item>

        <ion-item *ngIf="asistencia">
            <ion-label>NOMBRE : {{asistencia.nombre}}</ion-label>
        </ion-item>

        <ion-item *ngIf="asistencia">
            <ion-label>CURSO : {{asistencia.curso}}</ion-label>
        </ion-item>

        <ion-item *ngIf="asistencia">
            <ion-label>FECHA DE REGISTRO : {{asistencia.fechaRegistro}}</ion-label>
        </ion-item>

        <ion-item *ngIf="asistencia">
            <ion-label>HORA DE REGISTRO : {{asistencia.horaRegistro}}</ion-label>
        </ion-item>

        <ion-item *ngIf="asistencia">
            <ion-label>ESTADO ASISTENCIA : {{asistencia.estado}}</ion-label>
        </ion-item>


    </ion-list>
    <ion-button expand="full" (click)="actualizar()">Actualizar</ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="eliminarAsistencia(asistencia.id)">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>