////////////////////////////
// Dependencias
////////////////////////////
pip freeze // Para ver que dependencias tenemos instaladas
pip install pip --upgrade 
pip install django
pip install cx_oracle
pip install django-admin-interface
pip install pillow
djangorestframework
python -m pip install requests
python -m pip install django-cors-headers