<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="light" (click)="cerrarSesion()">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Cursos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--Recorremos la lista de cursos -->
    <ion-list *ngFor="let x of cursos">
        <ion-item button (click)="listarAsignaturas(x.id)">
            <div class="item-icon "></div>
            <ion-label>
                {{x.nombre}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>