// _ En el nombre del archivo es para que no compilen este archivo 
// Debido a que será importado en otra hoja SCSS


// columnas estilo bootstrap responsive
$bp:(
    m: 640px,
    l: 1024px
);

@for $i from 1 through 20 {
    .cols-#{$i * 5}{
        width: $i * 5%;
    }
    //Nos crea cols-1 , cols-2 ...
    //Le entrega el valor de width

}

@media screen and (min-width: map-get($bp,m)){
    @for $i from 1 through 20 {
        .cols-m-#{$i * 5}{
            width: $i * 5%;
        }
    }
}

@media screen and (min-width: map-get($bp,l)){
    @for $i from 1 through 20 {
        .cols-l-#{$i * 5}{
            width: $i * 5%;
        }
    }
}