// Herencia en CSS :OO

// También pueden recibir parámetros
/*

@mixin button {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;

    // & Hereda del padre
    &:hover {
        background: red;
    }

    @media screen and (min-width: 640px) {
        background: green;
    }
}

@mixin button2($breakpoint) {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;

    // & Hereda del padre
    &:hover {
        background: red;
    }

    @media screen and (min-width: 640px) {
        background: green;
    }
}

.button{
    @include button;
}

*/

@mixin btn-primario{
    display: inline-block;
    text-decoration: none;
    --background: var(--ion-color-primario);
    color: var(--ion-color-blanco);
    width: 40%;
    height: 35px;

    // & Hereda del padre
    &:focus {
        --background: var(--ion-color-primario-claro);
    }

    &:hover{
        --background: var(--ion-color-primario-claro);
    }
}

@mixin btn-secundario{
    display: inline-block;
    text-decoration: none;
    --background: var(--ion-color-terciario);
    color: var(--ion-color-blanco);

    // & Hereda del padre
    &:focus {
        --background: var(--ion-color-terciario);
    }

    &:hover{
        --background: var(--ion-color-terciario);
    }
}

@mixin btn-terciario{
    display: inline-block;
    text-decoration: none;
    --background: none;
    color: var(--ion-color-blanco);
    font-size: 10px;
    width: 60%;
    height: 35px;
}

@mixin form-label-primario{
    display: inline-block;
    --background: none;
    width: 75%;
    height: 45px;
    margin: auto;
    border: 1px solid var(--ion-color-blanco);
    border-radius: 20px;
    color: var(--ion-color-blanco);
    display: flex;
    text-align: center;
    justify-items: center;

    &::placeholder{
        color: var(--ion-color-secundario);
    }

    &:focus{
        color: var(--ion-color-secundario);
    }
}

@mixin background-app {
    position: absolute; 
    width: 100%;
    height: 100vh; // Usa el 100% de la altura del dispositivo móvil
    z-index: -2;
}

@mixin black-block {
    position: absolute;
    --background: var(--ion-color-negro-transparente) 0 0/100% 100% no-repeat;
}